@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img  style="width:500px; height:500px" src="https://www.esan.edu.pe/images/blog/2017/10/26/1500x844-portafolio-proyectos.jpg" 
          

</div>
